<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.FoodMapper">
  <select id="foodCategoryListData" resultType="CategoryVO" parameterType="hashmap">
    SELECT cno,title,poster,subject 
    FROM food_category 
    WHERE 
    <if test="cno==1">
    cno BETWEEN 1 AND 12
    </if>
    <if test="cno==2">
    cno BETWEEN 13 AND 18
    </if>
    <if test="cno==3">
    cno BETWEEN 19 AND 30
    </if>
  </select>
  <select id="foodCategoryInfoData" resultType="CategoryVO" 
     parameterType="int">
    SELECT title,subject 
    FROM food_category
    WHERE cno=#{cno}
  </select>
  <select id="foodListData" resultType="FoodVO" parameterType="int">
    SELECT fno,name,type,address,phone,poster,score
    FROM food_house
    WHERE cno=#{cno}
  </select>
  <select id="foodDetailData" resultType="FoodVO" parameterType="int">
    SELECT fno,name,address,phone,poster,type,time,parking,price,score,menu
    FROM food_house
    WHERE fno=#{fno}
  </select>
</mapper>