<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="wrapper row3">
  <main class="container clear"> 
    <!-- main body --> 
    <!-- ################################################################################################ -->
    <div class="content"> 
      <!-- ################################################################################################ -->
      <div id="gallery">
        <figure>
          <header class="heading">
           <form method=post action="/food/food_find" class="inline">
            <input type=text name="fd" class="input-sm" size=25 th:value="${fd}">
            <button class="btn-sm btn-primary">검색</button>
           </form>
          </header>
          <ul class="nospace clear">
            <li th:each="vo,i:${list}" th:class="${i.index%4==0?'one_quarter first':'one_quarter'}">
             <a href="#"><img th:src="${vo.poster}" th:title="${vo.name}"></a></li>
          </ul>
        </figure>
      </div>
      <!-- ################################################################################################ --> 
      <!-- ################################################################################################ -->
      <nav class="pagination">
        <ul>
          <li th:if="${startPage>1}"><a th:href="@{/food/food_find(page=${startPage-1},fd=${fd})}">&laquo; Previous</a></li>
          <li th:class="${curpage==i}?'current':''" 
              th:each="i:${#numbers.sequence(startPage,endPage)}">
          <a th:href="@{/food/food_find(page=${i},fd=${fd})}" th:text="${i}"></a></li>
          <li th:if="${endPage<totalpage}"><a th:href="@{/food/food_find(page=${endPage+1},fd=${fd})}">Next &raquo;</a></li>
        </ul>
      </nav>
      <!-- ################################################################################################ --> 
    </div>
    <!-- ################################################################################################ --> 
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
</body>
</html>