<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="wrapper row3">
  <div id="slider" class="clear"> 
    <div class="flexslider basicslider">
      <ul class="slides">
        <li><a href="#"><img class="radius-10" src="../images/demo/slides/back1.jpg" style="width:978px;height:400px"></a></li>
        <li><a href="#"><img class="radius-10" src="../images/demo/slides/back2.jpg" style="width:978px;height:400px"></a></li>
        <li><a href="#"><img class="radius-10" src="../images/demo/slides/back3.jpg" style="width:978px;height:400px"></a></li>
      </ul>
    </div>
    
  </div>
</div>
<div class="wrapper row3">
  <main class="container clear"> 
    <h2 class="sectiontitle">믿고 보는 맛집 리스트</h2>
    <!-- ################################################################################################ -->
    <div class="flexslider carousel basiccarousel btmspace-80">
      <ul class="slides">
        <li th:each="vo:${list}" th:if="${vo.cno>=1 && vo.cno<=12}">
          <figure><img class="radius-10 btmspace-10" th:src="${vo.poster}" th:title="${vo.subject}">
            <figcaption><a th:href="@{/food/food_list(cno=${vo.cno})}" th:text="${vo.title}"></a></figcaption>
          </figure>
        </li>
      </ul>
    </div>
    <h2 class="sectiontitle">지역별 맛집 리스트</h2>
    <!-- ################################################################################################ -->
    <div class="flexslider carousel basiccarousel btmspace-80">
      <ul class="slides">
        <li th:each="vo:${list}" th:if="${vo.cno>=13 && vo.cno<=18}">
          <figure><img class="radius-10 btmspace-10" th:src="${vo.poster}" th:title="${vo.subject}">
            <figcaption><a th:href="@{/food/food_list(cno=${vo.cno})}" th:text="${vo.title}"></a></figcaption>
          </figure>
        </li>
      </ul>
    </div>
    <h2 class="sectiontitle">인기 메뉴별 맛집 리스트</h2>
    <!-- ################################################################################################ -->
    <div class="flexslider carousel basiccarousel btmspace-80">
      <ul class="slides">
        <li th:each="vo:${list}" th:if="${vo.cno>=19 && vo.cno<=30}">
          <figure><img class="radius-10 btmspace-10" th:src="${vo.poster}" th:title="${vo.subject}">
            <figcaption><a th:href="@{/food/food_list(cno=${vo.cno})}" th:text="${vo.title}"></a></figcaption>
          </figure>
        </li>
      </ul>
    </div>
    
    <!-- ################################################################################################ -->
    <h2 class="sectiontitle">최신 방문 맛집</h2>
    <!-- ################################################################################################ -->
    <ul class="nospace group">
      <li class="one_half first">
        <article><img class="imgl radius-10" src="../images/demo/100x100.gif" alt="">
          <h6 class="heading"><a href="#">Lorem Ipsum Dolor</a></h6>
          <p>Aenean semper elementum tellus, ut placerat leo. Quisque vehicula, urna sit amet.</p>
        </article>
      </li>
      <li class="one_half">
        <article><img class="imgl radius-10" src="../images/demo/100x100.gif" alt="">
          <h6 class="heading"><a href="#">Lorem Ipsum Dolor</a></h6>
          <p>Aenean semper elementum tellus, ut placerat leo. Quisque vehicula, urna sit amet.</p>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ --> 
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
</body>
</html>