<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style type="text/css">
.container{
  margin-top: 50px;
}
.row{
  margin: 0px auto;
  width: 100%;
}
</style>
</head>
<body>
  <div class="container">
   <h3>믿고 보는 맛집리스트</h3>
   <hr>
   <div class="row">
         <div class="col-md-3" th:each="vo:${list}" th:if="${vo.cno>=1 && vo.cno<=12}">
		    <div class="thumbnail">
		      <a href="#">
		        <img th:src="${vo.poster }" alt="Lights" style="width:100%">
		        <div class="caption">
		          <p th:text="${vo.title}"></p>
		        </div>
		      </a>
		    </div>
		  </div>
   </div>
   <h3>지역별 인기 맛집리스트</h3>
   <hr>
   <div class="row">
         <div class="col-md-4" th:each="vo:${list}" th:if="${vo.cno>=13 && vo.cno<=18}">
		    <div class="thumbnail">
		      <a href="#">
		        <img th:src="${vo.poster }" alt="Lights" style="width:100%">
		        <div class="caption">
		          <p th:text="${vo.title}"></p>
		        </div>
		      </a>
		    </div>
		  </div>
   </div>
   <h3>메뉴별 인기 맛집리스트</h3>
   <hr>
   <div class="row">
         <div class="col-md-3" th:each="vo:${list}" th:if="${vo.cno>=19 && vo.cno<=30}">
		    <div class="thumbnail">
		      <a href="#">
		        <img th:src="${vo.poster }" alt="Lights" style="width:100%">
		        <div class="caption">
		          <p th:text="${vo.title}"></p>
		        </div>
		      </a>
		    </div>
		  </div>
   </div>
  </div>
</body>
</html>